<%- include header.ejs %>
<!------ Include the above in your HEAD tag ---------->

<body>
    <link rel="stylesheet" href="../css/landingLogin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="/css/profile.css" rel="stylesheet" id="bootstrap-css">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="media"
                             style="height:300px; width: 200px;">
                            <img class="img-thumbnail" src="<%= imgfile %>
                            <%# /thumbnail-images/Profile-avatar-placeholder-large.png %>
                            " style="height: 100%; width: 100%; object-fit: contain"
                                alt="Generic placeholder image" />
                            <div class="media-body">


                            </div>


                            <div class="container col-sm-6 col-md-8">
                                <h4 class="user-name">
                                    <%= name %></h4>
                                <small>
                                    <cite title="Location">CUHK, Hong Kong</cite>
                                    <img src="../icons/location.png" />
                                </small>

                                <p>
                                    <%= email %>
                                    <img src="../icons/envelope-closed.svg" alt="envelope-closed" />
                                    <%- interestsPng %>


                                </p>
                                <!-- Split button -->
                                <div class="btn-group">


                                    <a href='/schedule' class="btn btn-primary" style="padding-left:50px;">
                                        View Interests and Edit Schedule
                                    </a>
                                </div>

                                  <form class="btn btn-primary" action="/upload" method="post" enctype="multipart/form-data">
                                    <input type="file" name="myfile" >
                                    <input type="submit" value="Upload" >
                                  </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();
        });
    </script>
<%- include footer.ejs %>
